# Các thư viện chính
torch>=1.7.0
numpy>=1.19.0
pandas>=1.1.0
matplotlib>=3.3.0
seaborn>=0.11.0
h5py>=3.0.0

# Các thư viện SUMO
sumolib>=1.10.0
traci>=1.10.0

# Các thư viện hỗ trợ
scikit-learn>=0.24.0
tqdm>=4.50.0
PyYAML>=5.4.0
scipy>=1.6.0
joblib>=1.0.0
pillow>=8.0.0